<!DOCTYPE HTML>
<html>
	<head>
		<title>TAXI EXPRESS</title>
			<LINK REL=StyleSheet HREF="estilo.css" TYPE="text/css" MEDIA=screen>
		<LINK REL=StyleSheet HREF="bootstrap.minupc.css" TYPE="text/css" MEDIA=screen>
	</head>
	<body>
		<!---strat-wrap----->
		
			<!---strat-header----->
		
			</div>
			<!---End-header----->
		 <!---start-contnet---->
		 <div class="content">
		 	<!---start-about-us----->
		 	<div class="about-us">
		 			<div class="wrap">
						<div class="about-header">
							<h3>Quienes Somos</h3>
							
							<div class="clear"> </div>
						</div>
						<div class="about-info">
							<p>Somos una empresa con experiencia en el rubro y contamos con una moderna flota de vehículos, conductores capacitados y un servicio acorde con vuestras necesidades corporativas.</p>
						<br>
						<h3>Valores</h3>
						
						<p>Seguridad: Contamos con vehículos remisse con GPS y conductores profesionales.Puntualidad: Enviamos unidades con tiempo anticipado y mantenemos comunicación fluida con el cliente.Honradez: Nuestras tarifas son transparentes e incentivamos buenas prácticas de honradez.Hospitalidad: El buen trato, educación y la buena presentación son importantes para nosotros.</p>
				        <br>
				        <h3>Misión</h3>
				        
				        <p>Brindar un servicio de transporte corporativo y particular, asimismo, confiable, seguro y utilizando tecnologías de alto nivel.</p>
				     	<br>
						<h3>Visión</h3>
						
						<p>Ser una empresa líder a nivel nacional, satisfaciendo necesidades de transporte corporativo, con un servicio de exelencia.</p>
						</div>
					<div class="specials">
					<div class="specials-heading">
						
						<div class="clear"> </div>
					</div>
					<div class="clear"> </div>
					</div>
					</div>
					<div class="testmonials">
						<div class="wrap">
							<div class="testmonial-grid">
								
							</div>
						</div>
					</div>
		 	<!---End-about---->
		 </div>
		 	<!---End-about-us----->
		 	<div class="bottom-grids">
		 		<div class="wrap">
		 		<div class="social-links">
		 			<ul>
		 				<li><a href="#">Facebook</a></li>
		 				<li><a href="#">Twitter</a></li>
		 				<li><a href="#">Google+</a></li>
		 				<li><a href="#">Linkedin</a></li>
		 			</ul>
		 		</div>
		 		<div class="mobile-no">
		 		
		 		</div>
		 		<div class="footer-logo">
		 			<a href="#">TAXI EXPRESS</a>
		 		</div>
		 		<div class="copy-right">
		 			<p>Design by <a href="http://w3layouts.com/">SOLUTIONS SOFTWARE</a></p>
		 		</div>
		 		<div class="top-to-page">
						<a href="#top" class="scroll"> </a>
						<div class="clear"> </div>
					</div>
		 	</div>
		 	</div>
		 </div>
		 <!---End-contnet---->
		</div>
		<!---End-wrap----->
	</body>
</html>

