<!DOCTYPE HTML>
<html>
	<head>
		<title>TAXI EXPRESS</title>
			<LINK REL=StyleSheet HREF="estilo.css" TYPE="text/css" MEDIA=screen>
		<LINK REL=StyleSheet HREF="bootstrap.minupc.css" TYPE="text/css" MEDIA=screen>
	</head>
	</head>
	<body>
		<!---strat-wrap----->
		
			<!---strat-header----->
			<div class="header"  id="top">
				<div class="wrap">
					
				
					<!---End-top-nav---->
				</div>
			</div>
			<!---End-header----->
		 <!---start-contnet---->
		 <div class="content">
		 	<!---strart-services----->
		 	<div class="services">
		 		<div class="wrap">
  				<div class="camera_wrap camera_azure_skin" id="camera_wrap_1">									           
						<div <%= link_to image_tag ('servicios.jpg') %> </div> 
					</div>
					</div>
				
			</div>
			</div>
		 	<!---End-services----->
		 	<!---End-about-us----->
		 	<div class="bottom-grids">
		 		<div class="wrap">
		 		<div class="social-links">
		 			<ul>
		 				<li><a href="#">Facebook</a></li>
		 				<li><a href="#">Twitter</a></li>
		 				<li><a href="#">Google+</a></li>
		 				<li><a href="#">Linkedin</a></li>
		 			</ul>
		 		</div>
		 		<div class="mobile-no">
		 			 
		 		</div>
		 		<div class="footer-logo">
		 			<a href="#">TAXI express</a>
		 		</div>
		 		<div class="copy-right">
		 			<p>Design by <a href="http://w3layouts.com/">SOLUTIONS SOFTWARE</a></p>
		 		</div>
		 		<div class="top-to-page">
						<a href="#top" class="scroll"> </a>
						<div class="clear"> </div>
					</div>
		 	</div>
		 	</div>
		 </div>
		 <!---End-contnet---->
		</div>
		<!---End-wrap----->
	</body>
</html>


