<!DOCTYPE HTML>
<html>
	<head>
		<title>TAXI EXPRESS</title>
		
		<LINK REL=StyleSheet HREF="estilo.css" TYPE="text/css" MEDIA=screen>
		<LINK REL=StyleSheet HREF="bootstrap.minupc.css" TYPE="text/css" MEDIA=screen>
	<body>
		<!---strat-wrap----->
		
			<!---strat-header----->
			<div class="header"  id="top">
				<div class="wrap">
					
				</div>
			</div>
			<!---End-header----->
			<!--start-image-slider---->
			<div class="slider">					     
					<div class="camera_wrap camera_azure_skin" id="camera_wrap_1">									           
						<div <%= link_to image_tag ('slider3.jpg') %> </div> 
					</div>
					<div class="clear"> </div>					       
			</div>					
		 <!--End-image-slider---->
		 <!---start-contnet---->
		 <div class="content">
		 	<div class="top-grids">
		 		<div class="wrap">
			 		<h2>TAXI</h2>
			 		<h2>EXPRESS</h2>
			 		<h4></h4>
			 		
		 		</div>
		 	</div>
		 	<div class="mid-grids">
		 		<div class="wrap">
			 		<div class="mid-grid">
			 			<h3>SEGURO</h3>
			 			<a><%= link_to image_tag('repair.png') %></a>
			 			<h4>Llega seguro</h4>
			 			<p>Nuestros conductores se encuentran debidamente instruidos y capacitados para operar sus unidades bajos criterios de “Manejo a la Defensiva”. </p>
			 			
			 		</div>
			 		<div class="mid-grid">
			 			<h3>COMODO</h3>
			 			<a <%= link_to image_tag('spares.png') %></a>
			 			<h4>viaja comodo</h4>
			 			<p>Nuestros vehiculos son modernos y amplios, lo que te garantiza un viaje plasentero  </p>
			 			
			 		</div>
			 		<div class="mid-grid">
			 			<h3>RAPIDO</h3>
			 			<a href="#"><%= link_to image_tag ('sales.png') %></a>
			 			<h4>Llega a tiempo</h4>
			 			<p>Lllega rapido a tu destino, nuestros conductores cuentancon amplia experiencia </p>
			 			
			 		</div>
			 		<div class="clear"> </div>
		 		</div>
		 	</div>
		 	<div class="bottom-grids">
		 		<div class="wrap">
		 		<div class="social-links">
		 			<ul>
		 				<li><a href="#">Facebook</a></li>
		 				<li><a href="#">Twitter</a></li>
		 				<li><a href="#">Google+</a></li>
		 				<li><a href="#">Linkedin</a></li>
		 			</ul>
		 		</div>
		 		<div class="mobile-no">
		 			 
		 		</div>
		 		<div class="footer-logo">
		 			<a href="#">TAXI EXPRESS</a>
		 		</div>
		 		<div class="copy-right">
		 		  <p>Design by <a href="#">SOLUTIONS SOFTWARE</a></p>
		 		</div>
		 		<div class="top-to-page">
						<a href="#top" class="scroll"> </a>
						<div class="clear"> </div>
					</div>
		 	</div>
		 	</div>
		 </div>
		 <!---End-contnet---->
		</div>
		<!---End-wrap----->
	</body>
</html>

