<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Taxi Express</title>
		<meta charset="utf-8">
		<meta name="description" content="Acerca de m&iacute;" />
		<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
		<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
		<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
		<script type="text/javascript" src="js/jquery-1.6.js" ></script>
		<script type="text/javascript" src="js/cufon-yui.js"></script>
		<script type="text/javascript" src="js/cufon-replace.js"></script>  
		<script type="text/javascript" src="js/Vegur_300.font.js"></script>
		<script type="text/javascript" src="js/PT_Sans_700.font.js"></script>
		<script type="text/javascript" src="js/PT_Sans_400.font.js"></script>
		<script type="text/javascript" src="js/tms-0.3.js"></script>
		<script type="text/javascript" src="js/tms_presets.js"></script>
		<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="js/atooltip.jquery.js"></script>
		<!--[if lt IE 9]>
		<script type="text/javascript" src="js/html5.js"></script>
		<link rel="stylesheet" href="css/ie.css" type="text/css" media="all">
		<![endif]-->
		<!--[if lt IE 7]>
			<div style=' clear: both; text-align:center; position: relative;'>
				<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a>
			</div>
		<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style type="text/css">
	body {
	background-color: #000000;
	color: #0000;
}
    </style>
	</head>
	<body bgcolor="#F5F6CE" id="page1">
		<div class="main">
<!--header -->
			<header>
				<div class="wrapper">
					
				<img src="img/img01.jpg" alt="" width="960" height="245" usemap="#Map">
                <map name="Map">
                  <area shape="rect" coords="74,206,154,238" href="home.html">
                  <area shape="rect" coords="184,206,315,239" href="home1.html">
                  <area shape="rect" coords="337,209,458,236" href="services.html">
                  <area shape="rect" coords="479,209,636,237" href="feedback.html">
                  <area shape="rect" coords="661,204,813,237" href="contac.html">
                  <area shape="rect" coords="834,212,917,239" href="contac.html">
                </map>
                </div>
				<nav>
					
			  </nav>
				<div id="slider">
					<ul class="items">
						<li>
							<img src="images/img1.jpg" alt="">
							<div class="banner">
								<span class="title"><br><h1><span class="color1">Bienvenido!</span></span></h1>
								<h3> Estamos felices por tu visita!</h3>
							
					<h4> </h4>
								<h4> </h4>
								
							</div>
						</li>
						<li>
							<img src="images/img2.jpg" alt="">
							<div class="banner">
								<span class="title"><br><span class="color2"></span>Debes <span class="color1"> elegirnos!</span></span>	
                           			<h4> Con nuestro servicio encontrarás una experiencia única rumbo a tu destino deseado con lo conductores más expertos del transporte</h4>				
							</div>
						</li>
						<li>
							<img src="images/img3.jpg" alt="">
							<div class="banner">
								<span class="title"><br><span class="color2"></span>Te prometemos<span class="color1">lo siguiente:</span></span>	
                                <h4> *- Puntualidad en primera instancia, por que llegamos donde tú te encuentres</h4>
									<h4> </h4>
								<h4>*-  Viajarás seguro y cómodo! </h4>
								<h4> </h4>
																
							</div>
						</li>
					</ul>
				</div>
		  </header>
<!--header end-->
<!--content -->
</div>
		<div class="main">
  <!--content end-->
  <!--footer -->
	  <footer>
				<ul id="icons">
					<li class="first">Síguenos  en:</li>
					<li><a href="http://www.facebook.com/alexandra.lopezserrano.1" class="normaltip" title="Facebook"><img src="images/icon1.jpg" alt=""></a></li>
					<li><a href="https://twitter.com/14Alose" class="normaltip" title="Twitter"><img src="images/icon2.jpg" alt=""></a></li>
					<li><a href="https://plus.google.com/115531850308350916035/posts" class="normaltip" title="Picasa"><img src="images/icon3.jpg" alt=""></a></li>
					<li><a href="https://www.youtube.com/channel/UC1ysQJLyiopXpVARC6X625Q" class="normaltip" title="YouTube"><img src="images/icon4.jpg" alt=""></a></li>
					
				</ul>
      <br>
				<!-- {%FOOTER_LINK} -->
			</footer>
<!--footer end-->
</div>
		<script type="text/javascript"> Cufon.now(); </script>
		<script>
			$(window).load(function(){
				$('#slider')._TMS({
					banners:true,
					waitBannerAnimation:false,
					preset:'diagonalFade',
					easing:'easeOutQuad',
					pagination:true,
					duration:400,
					slideshow:8000,
					bannerShow:function(banner){
						banner.css({marginRight:-500}).stop().animate({marginRight:0}, 600)
					},
					bannerHide:function(banner){
						banner.stop().animate({marginRight:-500}, 600)
					}
					})
			})
		</script>
	</body>
</html>
